{% extends 'layout.jinja2' %}

{% block subtitle %}Login{% endblock %}

{% block content %}
<div class='col-xs-4'>
    <p>
    <strong>
        Login
    </strong><br>
    </p>
    <form action="{{ url }}" method="post">

        <label for="login">Username:</label>
        <input class='form-control'
                id='usr'
                placeholder='Enter Email' 
                type="email" name="email" 
                value="{{ login }}">
                
        </br>

        <label for="password">Password:</label>
        <input class='form-control'
                id='usr'placeholder='Enter Password' 
                type="password" 
                name="password">
                
        </br>

        <button type="submit" class='btn btn-default' name="form.submitted" value="Log In" class="btn btn-default">Log In</button>
        <button type="submit" class='btn btn-default' formaction='{{ request.route_url('register') }}'>Create Account</button>
        
    </form>
    <h6><a href='{{request.route_url('reset_email')}}'>Forgot Password?</a></h6>

    {{message}}
</div>
{% endblock content %}