{% extends "layout.jinja2" %}

{% block subtitle %}Register{% endblock %}

{% block content %}
<div class="col-xs-4">
  <h3>
    <strong>Create Account</strong>
  </h3>
  <div class='form-group'>
    <form action="{{request.route_url('register')}}" method='POST'>
      <label for='email'>Email:</label>
      <input  class='form-control'
              id='usr'
              placeholder='Enter Email'
              type='email'
              name='email_name'
              required
      />
      </br>

      <label for='password'>Password:</label>
      <input  class='form-control'
              id='pwd'
              placeholder='Enter Password'
              type='password'
              name='password'
              required
      />
      <div id='pwd-msg'></div>
      </br>

      <label for='reenter_password'>Re-Enter Password:</label>
      <input  class='form-control'
              id='conf_pwd'
              placeholder='Re-enter Password'
              type='password'
              name='reenter_password'
              required
      />
      <div id='msg'></div>

      </br>

      <button type='submit' class='btn btn-default' name='form.submitted'>Submit</button>

    </form>
  </div>
  <ul class='list-group'><strong>Password Requirements:</strong>
    <li id='pwd-length'>Between 8 and 32 characters</li>
    <li id='pwd-upper'>At least 1 uppercase letter</li>
    <li id='pwd-lower'>At least 1 lowercase letter</li>
    <li id='pwd-number'>At least 1 number</li>
    <li id='pwd-special'>At least 1 special character !@#$%^&*</li>
    <li id='pwd-spaces'>No spaces</li>
  </ul>
  <h2><strong>{{message}}</strong></h2>
</div>
{% endblock content %}